@font-face {
    font-family: 'EarlySummerFloweringTreeV20JangHyeri';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2604-1@1.0/Asummerflowertree-Bold.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

* {
    font-family: 'EarlySummerFloweringTreeV20JangHyeri';
}

#top_btn div {background-color: #000;}
    
#container {background-color: #faf4e6;}

#contents {width: 100vw;}

#contents #img {
    margin-top: 100px;
    position: absolute;
    opacity: 0;
}

#contents img {width: 70%;}
    
#contents #text {
    margin-top: 100px;
    position: absolute;
    opacity: 0;
}

#contents #text h1 {
    height: 2vw;
    margin-bottom: 1.25vw;
    font-size: 2vw;
    line-height: 2vw;
    font-weight: 600;
    color: #000;
    position: relative;
}

#contents #text p {
    margin-bottom: 0.5vw;
    font-size: 1.25vmax;
    line-height: 1.75;
    font-weight: 300;
    color: #000;
}
    
#head {
    width: 70vw;
    padding: 10vh 15vw 5vh;
    text-align: center;
}

#head h1 {
    font-size: 2vmax;
    line-height: 3;
    font-weight: 500;
    color: #000;
}

#head p {
    font-size: 1.25vmax;
    line-height: 1.75;
    font-weight: 300;
    color: #000;
}

#vid {
    width: 70vw;
    padding: 10vh 15vw 5vh;
}

#vid img {width: 100%;}
    
section {position: relative;}
    
#sec1 {width: 100%; height: 60vw;}

#sec1 #img:nth-child(1) {
    width: 30vw;
    height: 60vw;
    left: 15vw;
    top: 0;
    z-index: 2;
}

#sec1 #img:nth-child(2) {
    width: 30vw;
    height: 60vw;
    left: 35vw;
    top: 0;
    z-index: 1;
}

#sec1 #img:nth-child(3) {
    width: 30vw;
    height: 60vw;
    left: 54vw;
    top: 0;
    z-index: 0;
}

#sec2 {
    width: 100%;
    height: 60vw;
}

#sec2 #img {
    width: 30vw;
    height: 60vw;
    left: 20vw;
}

#sec2 #text {
    left: 50vw;
    top: 25vw;
}
    
#sec3 {
    width: 100%;
    height: 45vw;
}

#sec3 #img:nth-child(1) {
    width: 30vw;
    height: 60vw;
    left: 8vw;
    top: 0;
    z-index: 1;
}

#sec3 #img:nth-child(2) {
    width: 30vw;
    height: 60vw;
    left: 24.5vw;
    top: 0;
    z-index: 2;
}

#sec3 #img:nth-child(3) {
    width: 30vw;
    height: 60vw;
    left: 41vw;
    top: 0;
    z-index: 3;
}

#sec3 #text {
    left: 68vw;
    top: 25vw;
}
    
#sec4 {
    width: 100%;
    height: 70vw;
}

#sec4 #img:nth-child(1) {
    width: 30vw;
    height: 60vw;
    left: 47vw;
    top: 8vw;
    z-index: 1;
}

#sec4 #img:nth-child(2) {
    width: 30vw;
    height: 60vw;
    left: 62vw;
    top: -5vw;
    z-index: 0;
}

#sec4 #text {
    left: 18vw;
    top: 25vw;
}
    
#sec5 {
    width: 100%;
    height: 45vw;
}

#sec5 #img:nth-child(1) {
    width: 30vw;
    height: 60vw;
    left: 16vw;
    top: 0;
}

#sec5 #img:nth-child(2) {
    width: 30vw;
    height: 60vw;
    left: 35vw;
    top: 0;
}

#sec5 #text {
    left: 64vw;
    top: 25vw;
}

#sec6 {
    width: 100%;
    height: 50vw;
}

#sec6 #img:nth-child(1) {
    width: 30vw;
    height: 60vw;
    left: 51vw;
    top: 3vw;
    z-index: 1;
}

#sec6 #img:nth-child(2) {
    width: 30vw;
    height: 60vw;
    left: 66vw;
    top: 0;
    z-index: 0;
}

#sec6 #text {
    left: 13vw;
    top: 20vw;
}
    
#sec7 {
    width: 100%;
    height: 60vw;
}

#sec7 #img {
    width: 30vw;
    height: 60vw;
    left: 35vw;
}

#sec7 #text:nth-of-type(1) {
    left: 27vw;
    top: 22vw;
}

#sec7 #text:nth-of-type(2) {
    left: 64vw;
    top: 22vw;
}
